# Python
__pycache__/
.ipynb_checkpoints
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/
ENV/

# IDE
.vscode/
.idea/
.Trash-0
.autodl
*.swp
*.swo
CLAUDE.md

# Project specific
vectors/chroma_db/
data/raw/
results/chunk_results/
results/ocr_structured/
results/ocr_outputs/

models/

# Environment variables
.env
.env.local

# Logs
*.log

# OS
.DS_Store
Thumbs.db
